@font-face {
    font-family:"Roboto Bold" ;
    src: url('assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: "Roboto Regular";
    src: url('assets/fonts/Roboto-Regular.ttf');
}

:root {

--DarkSlateGrey: hsl(234, 29%, 20%);
--CharcoalGrey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }